* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url(./php/images/leftSideBack_2.jpg),
    url(./php/images/rightSideBack_2.jpg);
  background-repeat: no-repeat;
  background-position: top left, top right;
  background-size: 50%;
}

.thread {
  height: 50px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: calc(50% - 30px);
}

.inputBox {
  width: 320px;
  height: 420px;
  background-image: linear-gradient(gray, black);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  align-content: center;
  border-radius: 5%;
  padding: 70px 30px;
  opacity: 90%;
}

.inputBox h1 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 0;
  color: white;
}

.inputBox a {
  color: white;
  line-height: 20px;
  font-size: 12px;
  text-decoration: none;
}
.inputBox a:hover {
  cursor: pointer;
  color: grey;
}

.inputBox label {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.inputBox input {
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.inputBox input[type="email"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 15px;
}
.inputBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 18px;
  color: black;
  border-radius: 20px;
}
.inputBox input[type="submit"]:hover {
  cursor: pointer;
  background: gray;
  color: white;
}

.forgot {
  font-size: 10px;
  padding-left: 30%;
}

.forgotBox {
  width: 320px;
  height: 400px;
  background-image: linear-gradient(gray, black);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  align-content: center;
  border-radius: 5%;
  padding: 70px 30px;
  opacity: 90%;
}

.forgotBox h1 {
  text-align: center;
  padding-bottom: 10px;
  padding-top: 10px;
  margin: 3px;
  color: white;
}

.forgotBox a {
  color: white;
  line-height: 20px;
  font-size: 12px;
  text-decoration: none;
}
.forgotBox a:hover {
  cursor: pointer;
  color: grey;
}

.forgotBox p {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1.3rem;
}

.forgotBox input {
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.forgotBox input[type="text"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  font-size: 13px;
}
.forgotBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 18px;
  color: black;
  border-radius: 20px;
}
.forgotBox input[type="submit"]:hover {
  cursor: pointer;
  background: gray;
  color: white;
}

.createBox {
  width: 250px;
  height: 700px;
  background-image: linear-gradient(gray, black);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  align-content: center;
  border-radius: 5%;
  padding: 70px 30px;
  opacity: 90%;
}

.createBox h2 {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  margin: 3px;
  color: white;
}

.createBox select {
  width: 100%;
  margin-bottom: 10px;
  color: black;
}

.createBox a {
  color: white;
  line-height: 20px;
  font-size: 12px;
  text-decoration: none;
}
.createBox a:hover {
  cursor: pointer;
  color: grey;
}

.createBox label {
  color: white;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-size: 1rem;
}

.createBox input {
  width: 100%;
  margin-bottom: 20px;
  color: white;
}

.createBox input[type="text"],
input[type="email"],
select {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 30px;
  font-size: 11px;
}
.createBox input[type="submit"] {
  border: none;
  outline: none;
  height: 30px;
  font-size: 16px;
  color: black;
  border-radius: 20px;
}
.createBox input[type="submit"]:hover {
  cursor: pointer;
  background: gray;
  color: white;
}

.errcontainer {
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.3s;
}
.err {
  margin: 5px 0;
  color: var(--error);
}
.err ul {
  list-style-type: none;
  margin: 0;
  padding-inline-start: 2em;
}
